<h1>Welcome to WhitPicks!</h1>

<p>This site is to display the various awesome things I run across in my life that I think you might appreciate. I'm hoping to update consistently so you can continue to find awesome stuff each time you visit.</p>